<h2 id="title">Ember-Router-Helpers</h2>

{{#with (url-for "asia") as |url|}}
  <a class={{if (is-active url) "active"}} href={{url}} onclick={{transition}}>Asia</a>
{{/with}}

{{#with (url-for "europe" (query-params firstTime=true)) as |url|}}
  <a class={{if (is-active url) "active"}} href={{url}} onclick={{transition}}>Europe</a>
{{/with}}

{{#with (url-for "america") as |url|}}
  <a class={{if (is-active url) "active"}} href={{url}} onclick={{transition}}>America</a>
{{/with}}

<div>
  {{outlet}}
</div>